.avatar {
    position: relative;
    text-align: center;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--backgroud_color);
    border: var(--border);
    margin-bottom: 39px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: var(--gray_color_60);
        border: var(--border);
    }
    .uploadTitle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: var(--gray_color);
        i{
            margin-bottom: 7px;
        }
        strong, span{
            line-height: 21px;
        }
        strong{
            font-size: 16px;
        }
        span{
            font-size: 14px;
        }
    }
    .mat-icon {
        width: 100%;
        line-height: 298px;
        font-size: 50px !important;
        color: var(--gray_color);
        cursor: pointer;
    }

   

    input[type="file"],
    .loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .loader {
        background-color: rgba($color: #212121, $alpha: 0.4);
        .spinner{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            &:before {
                content: '';
                box-sizing: border-box;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 2px solid var(--white_color);
                border-top-color: var(--primary_color);
                animation: spinner .8s linear infinite;
            }
        }
    }

    input[type="file"] {
        margin: 0;
        padding: 0;
        outline: 0;
        border: 0;
        opacity: 0;
    }

    &.shake {
        .mat-icon {
            border-color: var(--error);
        }
    }

    .toggleBtn {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 99;
    }

    &:hover{
        .editHover{
            opacity: 1;
            visibility: visible;
        }
    }
}


form {
    overflow: hidden;
  }
  
  input {
    float: right;
    clear: both;
  }


  .wrapper {
    max-height: 1000vh !important;
}
.savefunctionAddNew{
    border: 1px solid var(--primary_color);
    background: var(--white_color);
    color: var(--primary_color) !important;
    font-weight: bold;
    font-size: var(--medium-font);
}
.masters_block,
.btn-group
{
    margin-left: 30px;
}
.masters_block{
    margin-top: 40px;
}