<ul>
    <li>
        <a routerLinkActive="active" routerLink="../../branding/view/">
            <i class="icon-branding"></i>
            <caption>
                <strong>Branding</strong>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
            </caption>
        </a>
    </li>
    <li>
        <a routerLinkActive="active" routerLink="../../branding/localization/">
            <i class="icon-app_settings"></i>
            <caption>
                <strong>App Settings</strong>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
            </caption>
        </a>
    </li>
    <li>
        <a routerLinkActive="active" routerLink="../../branding/alert-setting/">
            <i class="icon-alert_message"></i>
            <caption>
                <strong>Alert Message</strong>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
            </caption>
        </a>
    </li>
    <li>
        <a routerLinkActive="active" routerLink="../../branding/localization/">
            <i class="icon-localization"></i>
            <caption>
                <strong>Localization</strong>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
            </caption>
        </a>
    </li>
    <li>
        <a routerLinkActive="active" routerLink="../../branding/channel-configuration/view/">
            <i class="icon-channel_configuration"></i>
            <caption>
                <strong>Channel Configuration</strong>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
            </caption>
        </a>
    </li>
    <li>
        <a routerLinkActive="active" routerLink="../../branding/exceldownload/view/">
            <i class="icon-channel_configuration"></i>
            <caption>
                <strong>Excel Download</strong>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
            </caption>
        </a>
    </li>
    <li>
        <a routerLinkActive="active" routerLink="../../branding/security-and-compliance/">
            <i class="icon-security"></i>
            <caption>
                <strong>Security and Compliance</strong>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
            </caption>
        </a>
    </li>
</ul>