.cardHeight{
  font-size: var(--content);
  height: 193px;
  display: flex;
  align-items: center;
  .align-center{
    display: grid;
    align-items: center;
    overflow-y: auto;
    width: 100%;
    .marginY12px{
      margin: 10px 0;
    }
  }
}


.icon{
  font-size: var(--content);
  color: var(--gray_color);
  margin: 0 5px 0 0 !important;
}

.smallFont{
  font-size: var(--content);
  color: var(--gray_color);
  margin-top: 15px;
}

.smallFontText{
  font-size: var(--content);
  // margin-top: 15px;
}
