::ng-deep {
  .masters_block {
      margin-top: 50px;
  }
  .contactNoWithCountryCode{
      .mat-form-field-appearance-fill .mat-form-field-infix{
        margin: 0px 0 0 -2em !important;
      }
    }
      .masters_block{
          margin-top: 50px;
      }
}
.countrycodeDropdown{
position: absolute;
top: 8px;
left: 20px;
max-width: 80px;
z-index: 1;

}
.countryFlag{
display: block;
min-width: 90px;
}
.top_block {
  display: flex;
  justify-content: flex-start;

  .avatar {
      position: relative;
      flex: 0 0 94px;
      margin-right: 30px;
      text-align: center;
      display: flex;
      flex-direction: row;

      .mat-icon,
      img {
          width: 94px;
          height: 94px;
          background-color: var(--gray_color_60);
          border: var(--border);
          border-radius: 50%;
      }

      .mat-icon {
          line-height: 94px;
          font-size: 50px !important;
          color: var(--gray_color);
          cursor: pointer;
      }

      img {
          object-fit: cover;
      }

      input[type="checkbox"] {
          position: absolute;
          top: 0;
          left: 0;
          margin: 0;
          padding: 0;
          outline: 0;
          border: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
      }

      &.shake {
          .mat-icon {
              border-color: var(--error);
          }
      }
  }

  .form_content {
      flex: 1;
  }
}
.hide {
  display: none;
}
.channelIcon{
width: 80px !important;
  height: 80px !important;
  border-radius: 50px;
  border: 1px solid var(--gray_color);
  content: 'Channel Icon';
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  .chooseIcon{
    font-size: 40px;
    color: var(--white_color);
  }
}
.wrapper {
  padding-right: 50px !important;
  padding-left: 50px !important;

}
.fontSizeContent{
  padding-right: 5vh;
}
legend{
color: var(--primary_color);
font-weight: bold;
font-size: var(--title) !important;
}
.backArrow{
margin-left: -20px;
}
.pageTitle{
margin-left: 5px;
}

@media screen and (min-width:768px) {
  .marginXDesktop{
    margin: 0 3rem;
  }
}

@media screen and (max-width:767px) {
  .wrapper {
    padding: 2vh 4vh 4vh 2vh !important;
  }
  legend{
    margin-left: 10px !important;
  }
  .channelIcon{
    width: 60px !important;
    height: 60px !important;

    .chooseIcon{
      font-size: 40px;
    }
  }
  .masters_block {
    padding: 40px 0px 21.1875px 0px !important;
    border: 0px solid #eaeaea;
    border-top: 2px solid #eaeaea;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .backArrow{
    margin-left: 0px !important;
  }

  .fontSizeContent{
    padding-right: 0vh;
}
.marginXDesktop{
  margin: 0 0.5rem;
}
}
