<div>
  <div class="row mx-0 mb-3 d-flex align-items-center">
    <div class="col-12 p-0 text-left">
      <span class="font-bold mediumFont">Task </span>
    </div>

  </div>

  <div class="cardHeight">
    <div class="align-center">
      <div class="row mx-0 border-top" *ngFor="let item of data" [ngClass]="item.label == 'Failed' ? 'text-danger':''">
        <div class="col-8 p-0 marginY12px text-left">
          {{item?.label}}
        </div>
        <div class="col-4 p-0 marginY12px text-right">
          {{item?.value}}
        </div>
  </div>
    </div>
  </div>
</div>
