.summer-legend {
    display: flex !important;
    justify-content: space-between !important;
    font-size: var(--normal-font) !important;
    font-weight: bold !important;
    color: var(--primary_color) !important;
    line-height: 24px !important;
    margin-bottom: 10px !important;
}
.main-ttl{
    justify-content: space-between !important;
    width: 80% !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}