::ng-deep{
    .sub-accordion-fields{
          .mat-form-field{
            .mat-form-field-wrapper{
              .mat-form-field-flex{
                padding: 0px !important;
                .mat-form-field-infix{
                  border-top: 2px solid transparent !important;
                  padding: 10px;
                  padding-bottom: 10px !important;
        
                  .mat-select-arrow-wrapper {
                    transform: translateY(0%);
                  }
                }
              }
            }
          }
      }
}

