.aht{
  color: var(--greenColor) !important;
  font-weight: bold ;
  text-align: center !important;
  display: flex;
  justify-content: center;
  font-size: var(--content) !important;
  margin: 6px 0;
}
