<app-loader *ngIf="loader"></app-loader>
<div class="inner-container">
    <div class="wrapper">
        <div class="d-flex justify-content-end">
            <span class="icon-rejected" *ngIf="isDialog == false" (click)="back()"></span>
        </div>
        <form [formGroup]="form">
            <div class="row ">
                <div class="col-12 ">
                    <span class="d-flex">
                        <span>
                            <mat-icon class="cursorPointer gray" (click)="back()">keyboard_backspace</mat-icon>
                        </span>
                        <span>
                            <legend class="ml-2">{{path == null ? 'Add New User':'Update User'}}</legend>
                        </span>
                    </span>
                    <div class="formGroup">
                        <div class="masters_block">
                            <app-steps [steps]="userFormSteps" [tabSelected]="'Personal Details'"
                                (newsteps)="addnewsteps($event)" [isDialog]="isDialog"
                                [id]="path == null ? '': path"></app-steps>
                            <div class="top_block">
                                <div class="avatar">
                                    <mat-icon *ngIf="!form.value.profilepic">person</mat-icon>
                                    <img *ngIf="form.value.profilepic" [src]="form.value.profilepic">
                                    <input type="checkbox" (click)="uploadDocument(true,'UserProfile')">
                                </div>
                                <div class="form_content">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <mat-form-field appearance="fill"
                                                [ngClass]="{ 'shake': submittedForm && f.firstname.errors }">
                                                <mat-label>{{labelName?.FirstName}}</mat-label>
                                                <input matInput formControlName="firstname">
                                                <mat-error *ngIf="f.firstname.errors">
                                                    <ng-container
                                                        *ngIf="f.firstname.errors.required">{{labelName?.FirstName}} is
                                                        required
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="f.firstname.errors.pattern">{{labelName?.FirstName}} is
                                                        invalid
                                                    </ng-container>
                                                    <ng-container *ngIf="f.firstname.errors.maxlength">
                                                        {{masters.MaxLengthMessage1}}
                                                    </ng-container>
                                                    <ng-container *ngIf="f.firstname?.errors?.checknull">Whitespace not
                                                        allowed
                                                    </ng-container>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <mat-form-field appearance="fill"
                                                [ngClass]="{ 'shake': submittedForm && f.lastname.errors }">
                                                <mat-label>{{labelName?.LastName}}</mat-label>
                                                <input matInput formControlName="lastname">
                                                <mat-error *ngIf="f.lastname.errors">
                                                    <ng-container
                                                        *ngIf="f.lastname.errors.required">{{labelName?.LastName}} is
                                                        required
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="f.lastname.errors.pattern">{{labelName?.LastName}} is
                                                        invalid
                                                    </ng-container>
                                                    <ng-container *ngIf="f.lastname.errors.maxlength">
                                                        {{masters.MaxLengthMessage1}}
                                                    </ng-container>
                                                    <ng-container *ngIf="f.lastname?.errors?.checknull">Whitespace not
                                                        allowed
                                                    </ng-container>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <mat-form-field appearance="fill"
                                                [ngClass]="{ 'shake': submittedForm && f.aliasname.errors }">
                                                <mat-label>{{labelName?.AliasName}}</mat-label>
                                                <input matInput formControlName="aliasname">
                                                <mat-error *ngIf="f.aliasname.errors">
                                                    <ng-container
                                                        *ngIf="f.aliasname.errors.required">{{labelName?.AliasName}} is
                                                        required
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="f.aliasname.errors.pattern">{{labelName?.AliasName}} is
                                                        invalid
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="f.aliasname.errors.maxlength">{{masters.MaxLengthMessage1}}
                                                    </ng-container>
                                                    <ng-container *ngIf="f.aliasname?.errors?.checknull">Whitespace not
                                                        allowed
                                                    </ng-container>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 contactNoWithCountryCode">
                                            <mat-select class="countrycodeDropdown" formControlName="countrycode"
                                                (selectionChange)="selectCountry($event.value)">
                                                <mat-select-trigger>
                                                    <i
                                                        class="flag-icon flag-icon-{{countryCodeSelected?.country_code | lowercase}} textwrap"></i>
                                                    +{{countryCodeSelected?.dial_code}}
                                                </mat-select-trigger>
                                                <ng-container *ngFor="let data of countryCode | orderBy: 'dial_code'">
                                                    <mat-option
                                                        *ngIf="allowedISD.includes((data?.dial_code).toString())"
                                                        [value]="data">
                                                        <i
                                                            class="flag-icon flag-icon-{{data?.country_code | lowercase}} textcase "></i>
                                                        +{{data?.dial_code}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                            <mat-form-field appearance="fill"
                                                [ngClass]="{ 'shake': submittedForm && f.contactnumber.errors }">
                                                <mat-label>{{labelName?.ContactNumber}}</mat-label>
                                                <input matInput formControlName="contactnumber"
                                                    (keypress)="numericOnly($event)"
                                                    (keyup)="valPhone(countryCodeSelected)" [(ngModel)]="phone">
                                                <span matPrefix class="countryFlag"></span>

                                                <mat-error *ngIf="f.contactnumber.errors">
                                                    <ng-container
                                                        *ngIf="f.contactnumber.errors.required">{{labelName?.ContactNumber}}
                                                        is required
                                                    </ng-container>
                                                    <ng-container *ngIf="f.contactnumber.errors.pattern">Invalid No.
                                                    </ng-container>
                                                    <ng-container *ngIf="f.contactnumber.errors.minlength">
                                                        Mininmum length is {{phminlength}}
                                                    </ng-container>
                                                    <ng-container *ngIf="f.contactnumber.errors.maxlength">
                                                        Maximum length is {{phmaxlength}}
                                                    </ng-container>

                                                </mat-error>
                                                <mat-hint class="mat-error" *ngIf="phvalid == false">Contact No. is
                                                    Invalid</mat-hint>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <mat-form-field appearance="fill"
                                                [ngClass]="{ 'shake': submittedForm && f.emailid.errors }">
                                                <mat-label>{{labelName?.EmailID}}</mat-label>
                                                <input matInput formControlName="emailid">
                                                <mat-error *ngIf="f.emailid.errors">
                                                    <ng-container
                                                        *ngIf="f.emailid.errors.required">{{labelName?.EmailID}} is
                                                        required
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="f.emailid.errors.pattern">{{labelName?.EmailID}} is
                                                        invalid
                                                    </ng-container>
                                                    <ng-container *ngIf="f.emailid?.errors?.checknull">Whitespace not
                                                        allowed
                                                    </ng-container>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <mat-form-field appearance="fill">
                                                <mat-label>{{labelName?.Language}}</mat-label>
                                                <mat-select formControlName="languagecode" disableOptionCentering
                                                    multiple class="language-dropdown">
                                                    <mat-option
                                                        *ngFor="let data of userLanguageName | orderBy:'language'"
                                                        [value]="data.langcode">{{data.language}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <mat-form-field appearance="fill"
                                                [ngClass]="{ 'shake': submittedForm && f.username.errors }">
                                                <mat-label>{{labelName?.LoginID}}</mat-label>
                                                <input matInput formControlName="username" autocomplete="new-username"
                                                    name="username">
                                                <mat-error *ngIf="f.username.errors">
                                                    <ng-container
                                                        *ngIf="f.username.errors.required">{{labelName?.LoginID}} is
                                                        required
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="f.username.errors.pattern">{{labelName?.LoginID}} is
                                                        invalid
                                                    </ng-container>
                                                    <ng-container *ngIf="f.username?.errors?.checknull">Whitespace not
                                                        allowed
                                                    </ng-container>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12" *ngIf="path == null">
                                            <mat-form-field appearance="fill"
                                                [ngClass]="{ 'shake': submittedForm && f.password.errors }">
                                                <mat-label>{{labelName?.Password}}</mat-label>
                                                <input matInput [type]="hide ? 'password' : 'text'"
                                                    formControlName="password" autocomplete="new-password"
                                                    name="password">
                                                <span mat-icon-button matSuffix (click)="hideChange()">
                                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                </span>
                                                <mat-error *ngIf="f.password.errors">
                                                    <ng-container
                                                        *ngIf="f.password.errors.required">{{labelName?.Password}} is
                                                        required
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="f.password.errors.pattern">{{labelName?.Password}} is
                                                        invalid
                                                    </ng-container>
                                                    <ng-container *ngIf="f.password?.errors?.checknull">Whitespace not
                                                        allowed
                                                    </ng-container>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <mat-form-field appearance="fill">
                                                <mat-label>{{labelName?.EmployeeID}}</mat-label>
                                                <input matInput formControlName="employeeid">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      
                        </div>
                        <div class="btn-group my-3">
                            <!-- <button *ngIf="userConfig?.Cancel" class="btn btn-gray" (click)="back()"
                                routerLinkActive="router-link-active" mat-flat-button
                                type="Reset">{{labelName?.Cancel}}</button> -->
                            <button *ngIf="!path" class="btn btn-gray" mat-flat-button type="Reset"
                                (click)="resetFunc()">{{labelName?.Reset}}</button>
                            <button *ngIf="userConfig?.Save" class="btn" mat-flat-button color="primary" (click)="submit()"
                                type="button">{{labelName?.Save}}</button>
                            <button *ngIf="userConfig?.Next" class="btn" mat-flat-button color="primary" (click)="Next()"
                                type="button">{{labelName?.Next}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>