<app-loader *ngIf="loader"></app-loader>
<div class="container">
    <div class="row">
        <div class="col-1 backKey" style="">
            <mat-icon class="cursorPointer" (click)="back()" > keyboard_backspace </mat-icon>
        </div>
        <div class="col-8">
            <span class="billsHeading">Bills & Payments</span>
            <div class="row">
                <div class="card">
                    <div class="col-5">
                        <span class="outAmt">Outstanding Amount <span class="blue">&#8377; 1224</span></span>    
                    </div>
                    <div class="col-5">
                        <span class="dueTill">Due on 15 Dec 2021 </span>
                    </div>
                    <div class="col-2 pay1">
                        <button class="pay" (click)="goTo('beneficiary-payment')">Pay</button>
                    </div>    
                </div>
            </div>
            <div class="row" *ngFor="let item of data">
                <div class="card">
                    <div class="col-5">
                        <span class="outAmt">{{item.FeeType}} <span class="blue">&#8377;{{item.AmountToBePaid }}</span> </span>
                    </div>
                    <div class="col-5">
                        <span class="dueTill">{{item.TransactionDateTime | date :'mediumDate'}} &nbsp;&nbsp; 11:24:25</span>
                    </div>
                    <div class="col-2 textCenter">
                        <span>{{item.PaymentMode}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>