<app-loader *ngIf="loader"></app-loader>
<div class="inner-container" *ngIf="!loader">
    <app-steps [steps]="employeeFormSteps" [id]="path"></app-steps>
    <div class="wrapper">
        <form [formGroup]="form">
            <legend>Other Details</legend>
            <div class="formGroup">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <mat-form-field appearance="fill">
                            <mat-label>Medical Test Initiation Date</mat-label>
                            <input (focus)="medtestinitiationdate.open()" (click)="medtestinitiationdate.open()"
                                readonly formControlName="medtestinitiationdate" type="text"
                                [matDatepicker]="medtestinitiationdate" matInput>
                            <mat-datepicker-toggle matSuffix [for]="medtestinitiationdate"></mat-datepicker-toggle>
                            <mat-datepicker #medtestinitiationdate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <mat-form-field appearance="fill">
                            <mat-label>Medical Test Status</mat-label>
                            <mat-select formControlName="medteststatus">
                                <mat-option *ngFor="let data of masters.statusTypes" [value]="data">{{data}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <mat-form-field appearance="fill">
                            <mat-label>Medical Test Result Date</mat-label>
                            <input (focus)="medtestresultdate.open()" (click)="medtestresultdate.open()" readonly
                                formControlName="medtestresultdate" type="text" [matDatepicker]="medtestresultdate"
                                matInput>
                            <mat-datepicker-toggle matSuffix [for]="medtestresultdate"></mat-datepicker-toggle>
                            <mat-datepicker #medtestresultdate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="checkbox">
                            <mat-checkbox color="primary" formControlName="ismedtestreportuploaded"
                                (change)="uploadDocument($event.checked, medTestReport, 'Medical Test Report')">
                                Is Medical Clearance Report Uploaded ?</mat-checkbox>
                            <mat-icon class="view" *ngIf="form.value.ismedtestreportuploaded"
                                (click)="viewDocument('Medical Test Report', 'document')" #tooltip="matTooltip"
                                matTooltip="View">remove_red_eye</mat-icon>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <mat-form-field appearance="fill">
                            <mat-label>Police Verification Status</mat-label>
                            <mat-select formControlName="policeverificationstatus">
                                <mat-option *ngFor="let data of masters.statusTypes" [value]="data">{{data}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <mat-form-field appearance="fill">
                            <mat-label>Police Verification Initiation Date</mat-label>
                            <input (focus)="verificationinitiationdate.open()"
                                (click)="verificationinitiationdate.open()" readonly
                                formControlName="verificationinitiationdate" type="text"
                                [matDatepicker]="verificationinitiationdate" matInput>
                            <mat-datepicker-toggle matSuffix [for]="verificationinitiationdate"></mat-datepicker-toggle>
                            <mat-datepicker #verificationinitiationdate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="checkbox">
                            <mat-checkbox color="primary" formControlName="ispoliceclearanceattached"
                            (change)="uploadDocument($event.checked, pccReport, 'Pcc Clearance Report')">
                                Is Police Clearance Attached</mat-checkbox>
                                <mat-icon class="view" *ngIf="form.value.ispoliceclearanceattached"
                                (click)="viewDocument('Pcc Clearance Report', 'document')" #tooltip="matTooltip"
                                matTooltip="View">remove_red_eye</mat-icon>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <mat-form-field appearance="fill">
                            <mat-label>Undertaking If Applicable</mat-label>
                            <input matInput formControlName="undertakingifapplicable" appTitleCase>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <mat-form-field appearance="fill">
                            <mat-label>PF UAN Details If Applicable</mat-label>
                            <input matInput formControlName="pfuandetailsifapplicable" appTitleCase>
                        </mat-form-field>
                    </div>

                </div>
            </div>

            <div class="btn-group">
                <button class="btn btn-gray" mat-flat-button type="Reset">Reset</button>
                <button class="btn" mat-stroked-button (click)="submit('save')" type="button">Save</button>
                <button class="btn" mat-flat-button color="primary" (click)="submit('next')" type="button">Next KYC
                    Details >></button>
            </div>
        </form>
    </div>
</div>