
<app-loader *ngIf="loader"></app-loader>
<div class="inner-container">
  <div class="wrapper py-4 mt-3" >
    <div class="d-flex justify-content-end">
      <span class="icon-rejected" *ngIf="userConfig?.Cancel" (click)="back()"></span>
    </div>
    <form [formGroup]="form">
        <div class="row ">
          <div class="col-12">
            <span class="d-flex">
              <mat-icon class="gray cursorPointer stepbackArrow" (click)="back()" >keyboard_backspace</mat-icon>
              <legend class="pageTitle"> {{ reset ? 'Update' :'Add New' }} {{labelName?.EmailConfiguration}}</legend>
            </span>

            <div class="formGroup">
              <div class="masters_block">
                <app-steps [steps]="emailConfigurationsteps" [moduletype]="'email-configuration'" [id]="path"
                  [uniqueid]="uniqueId" [action]="eventkey"></app-steps>
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-3 text-center pl-0">
                      <div class="channelIcon cursorPointer" [matMenuTriggerFor]="menu" [ngStyle]="{'background-color': form.value.profilepic ? common.color[form.value.profilepic] : 'var(--gray_color)' }">
                        <i class="chooseIcon icon-email"></i>
                      </div>
                      <mat-menu #menu="matMenu" class="w-100  overflow-hidden">
                        <div class="row m-2" (click)="$event.stopPropagation()">
                          <div class="col-12">
                            <span class="selectColor pl-0">Select Icon Color</span>
                          </div>
                          <div class="col-3 py-2 px-1" *ngFor="let item of common.colorArray">
                            <div class="row justify-content-center">
                              <div
                                class="cursorPointer colorTile d-flex align-items-center justify-content-center fontSize34PX"
                                [ngStyle]="{'background': common.color[item], 'height': '30px', 'width': '30px'}"
                                [ngClass]="item == form.value.profilepic ? 'selectedIconOnAddDashboardMatMenu':''"
                                (click)="form.controls.profilepic.patchValue(item); menu.close.emit()" style="width: 30px; height: 30px;">
                              </div>
                            </div>
                          </div>
                        </div>
                      </mat-menu>
                    </div>
                    <div class="col-lg-11 col-md-11 col-9">
                      <div class="form_content">
                          <div class="row">
                              <div class="col-lg-4 col-md-4 col-sm-12">
                                  <mat-form-field appearance="fill" class="channel_input" [ngClass]="{ 'shake': submittedForm && f.host.errors }">
                                      <mat-label>{{labelName?.Host}}</mat-label>
                                      <input matInput formControlName="host">
                                      <mat-error *ngIf="f.host.errors">
                                          <ng-container *ngIf="f.host.errors.required">{{labelName?.Host}}  is required
                                          </ng-container>
                                          <ng-container *ngIf="f.host?.errors?.checknull">Whitespace not allowed
                                          </ng-container>
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-12">
                                  <mat-form-field appearance="fill" class="channel_input" [ngClass]="{ 'shake': submittedForm && f.Port.errors }">
                                      <mat-label>{{labelName?.Port}}</mat-label>
                                      <input matInput formControlName="Port">
                                      <mat-error *ngIf="f.Port.errors">
                                          <ng-container *ngIf="f.Port.errors.required">{{labelName?.Port}} is required
                                          </ng-container>
                                          <ng-container *ngIf="f.Port?.errors?.checknull">Whitespace not allowed
                                          </ng-container>
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-12">
                                <mat-form-field appearance="fill" class="channel_input"  [ngClass]="{ 'shake': submittedForm && f.AccountType.errors }">
                                    <mat-label>{{labelName?.AccountType}}</mat-label>
                                    <mat-select  formControlName="AccountType">
                                      <mat-option value="Inbound">Inbound</mat-option>
                                      <mat-option value="Outbound">Outbound</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="f.AccountType.errors">
                                      <ng-container *ngIf="f.AccountType.errors.required">{{labelName?.AccountType}}  is required
                                      </ng-container>
                                  </mat-error>
                                </mat-form-field>
                            </div>

                          </div>
                          <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                              <mat-form-field appearance="fill" class="channel_input" [ngClass]="{ 'shake': submittedForm && f.AuthenticationType.errors }">
                                  <mat-label>{{labelName?.AuthenticationType}}</mat-label>
                                  <mat-select  formControlName="AuthenticationType">
                                    <mat-option value="SSL">SSL</mat-option>
                                    <mat-option value="TLS">TLS</mat-option>
                                  </mat-select>
                                  <mat-error *ngIf="f.AuthenticationType.errors">
                                    <ng-container *ngIf="f.AuthenticationType.errors.required">{{labelName?.AuthenticationType}}  is required
                                    </ng-container>
                                </mat-error>
                              </mat-form-field>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-12" *ngIf="form.controls.AuthenticationType.value == 'TLS'" >
                            <mat-form-field appearance="fill" class="channel_input" [ngClass]="{ 'shake': submittedForm && f.TLS.errors }" >
                                <mat-label>{{labelName?.TLSProtocol}}</mat-label>
                                <mat-select  formControlName="TLS" >
                                  <mat-option *ngFor="let item of filteredList1" [value]="item.Key">
                                      <span class="fontSizeContent"> {{item.Value}}  </span>
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="f.TLS.errors">
                                  <ng-container *ngIf="f.TLS.errors.required">{{labelName?.TLSProtocol}}  is required
                                  </ng-container>
                                  <ng-container *ngIf="f.TLS.errors.pattern">{{labelName?.TLSProtocol}} is invalid
                                  </ng-container>
                              </mat-error>
                            </mat-form-field>
                        </div>
                          <div class="col-lg-4 col-md-4 col-sm-12">
                            <mat-form-field appearance="fill" class="channel_input"  [ngClass]="{ 'shake': submittedForm && f.Client.errors }">
                                <mat-label>{{labelName?.OAuthClientID}}</mat-label>
                                <input matInput formControlName="Client">
                                <mat-error *ngIf="f.Client.errors">
                                  <ng-container *ngIf="f.Client.errors.required">{{labelName?.OAuthClientID}}  is required
                                  </ng-container>
                                  <ng-container *ngIf="f.Client?.errors?.checknull">Whitespace not allowed
                                  </ng-container>
                              </mat-error>
                            </mat-form-field>
                        </div>

                        </div>
                          <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                              <mat-form-field appearance="fill" class="channel_input" [ngClass]="{ 'shake': submittedForm && f.username.errors }">
                                  <mat-label>{{labelName?.Username}}</mat-label>
                                  <input matInput formControlName="username" autocomplete="new-username" name="username">
                                  <mat-error *ngIf="f.username.errors">
                                    <ng-container *ngIf="f.username.errors.required">{{labelName?.Username}}  is required
                                    </ng-container>
                                    <ng-container *ngIf="f.username.errors.pattern">{{labelName?.Username}} Should be Email
                                    </ng-container>
                                    <ng-container *ngIf="f.username?.errors?.checknull1">Whitespace not allowed
                                    </ng-container>
                                </mat-error>
                              </mat-form-field>
                          </div>

                          <div class="col-lg-4 col-md-4 col-sm-12" *ngIf="uniqueId == null">
                            <mat-form-field appearance="fill" class="channel_input" [ngClass]="{ 'shake': submittedForm && f.password.errors }">
                                <mat-label>{{labelName?.Password}}</mat-label>
                                <input matInput  [type]="hide ? 'password' : 'text'"  formControlName="password" autocomplete="new-password" name="password">
                                <span mat-icon-button matSuffix (click)="hideChange()">
                                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </span>
                                <mat-error *ngIf="f.password.errors">
                                  <ng-container *ngIf="f.password.errors.required">Password  is required
                                  </ng-container>
                                  <ng-container *ngIf="f.password.errors.pattern">Password is invalid
                                  </ng-container>
                                  <ng-container *ngIf="f.password?.errors?.checknull1">Whitespace not allowed
                                  </ng-container>
                              </mat-error>
                            </mat-form-field>
                        </div>

                          <div class="col-lg-4 col-md-4 col-sm-12">
                            <mat-form-field appearance="fill" class="channel_input" [ngClass]="{ 'shake': submittedForm && f.Tenant.errors }">
                                <mat-label>{{labelName?.OAuthTenantID}}</mat-label>
                                <input matInput formControlName="Tenant">
                                <mat-error *ngIf="f.Tenant.errors">
                                  <ng-container *ngIf="f.Tenant.errors.required">{{labelName?.OAuthTenantID}}  is required
                                  </ng-container>
                                  <ng-container *ngIf="f.Tenant?.errors?.checknull">Whitespace not allowed
                                  </ng-container>
                              </mat-error>
                            </mat-form-field>
                        </div>
                          </div>

                      </div>
                    </div>
                </div>



              </div>
              <div class="btn-group" >
                <!-- <button  class="btn btn-gray"  *ngIf="userConfig?.Cancel" (click)="back()"  routerLinkActive="router-link-active"  mat-flat-button type="Reset">{{labelName?.Cancel}}</button> -->
                  <button *ngIf="! reset" class="btn btn-gray" mat-flat-button type="Reset" (click)="resetFunc()">{{labelName?.Reset}}</button>
                  <button  *ngIf="userConfig?.Save" (click)="saveEmail('save')"  class="btn" mat-flat-button color="primary"  type="button">{{labelName?.Save}}</button>
                  <button  *ngIf="userConfig?.Next" (click)="saveEmail('next')" class="btn" mat-flat-button color="primary"  type="button">{{labelName?.Next}}</button>
              </div>
            </div>
            </div>
        </div>
    </form>
  </div>
</div>
