<app-loader class="" *ngIf="loader"></app-loader>

<div  *ngIf="!loader">
    <div class="row mx-0 my-3  d-flex align-items-center">
      <div class="col-8 text-left">
        <span class="font-bold">Top Performers <br><span class="gray"> Location</span></span>
      </div>
      <div class="col-4 text-right">
        <select class="form-control rounded smallSelect" id="exampleFormControlSelect1" [(ngModel)]="selectedGrievance"
            (change)="getInformation('usp_unfyd_top_performer_location_dashboard',selectedGrievance)">
            <option>Day</option>
            <option>Month</option>
            <option>Year</option>
          </select>
      </div>
    </div>
  
    <div class="row mx-0 my-3">
      <div class="col-2">
        <mat-icon (click)="changeDate('prev')">keyboard_arrow_left</mat-icon>
      </div>
      <div class="col-8 text-center dashboardDate">
          <span class="" *ngIf="selectedGrievance == 'Day'">{{ hawkerAppDate | date:'dd MMM yyyy'}}</span>
        <span class="" *ngIf="selectedGrievance == 'Month'">{{ hawkerAppDate | date : 'MMM yyyy'}}</span>
        <span class="" *ngIf="selectedGrievance == 'Year'">{{ hawkerAppDate | date:'yyyy'}}</span>
      </div>
      <div class="col-2">
        <span [ngClass]="nextDisable ? 'disabledIT' :'cursorPointer'">
          <mat-icon (click)="changeDate('next')">keyboard_arrow_right</mat-icon>
        </span>
      </div>
    </div>
    <div class="row mx-0 py-3 border-top" *ngFor="let data of topPerformers">
        <div class="col-6 text-left">
          {{data.Location |titlecase}}
        </div>
        <div class="col-6 text-right primary-color font-weight-bold">
          {{data.Count}}
        </div>
    </div>
  </div>