@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/webFonts/NunitoSans-Regular.woff2') format('woff2'),
      url('../fonts/webFonts/NunitoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/webFonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
