<app-loader *ngIf="loader"></app-loader>
<div class="inner-container" *ngIf="!loader">
        <div class="wrapper">
            <form [formGroup]="form">
                <div class="formGroup">

                    <div class="row">
                        <div class="card" style="border:0;box-shadow:none;">
                          <legend class="positionAbsolute">
                            <mat-icon class="gray cursorPointer" (click)="back()">keyboard_backspace</mat-icon>
                        </legend>
                            <div class="{{channel?.ChannelName}} logoposition"></div>
                            <div style="text-align: center;">
                                <p class="channelHead">
                                    <strong>{{channel?.ChannelName}}</strong>
                                </p>
                                <p class="channelLicense"> {{labelName?.TotalAccounts}} {{channelData.length}}</p>
                            </div>
                            <div>
                                <button
                                  class="btnposition addButton0"   [routerLink]="['/masters/channel-configuration/voice-configuration/voice-detail',channel?.Id,'add']"
                                  *ngIf="channel?.ChannelName.toUpperCase() ==='VOICE' && userConfig?.Add">{{labelName?.AddNewAccounts}}</button>


                            </div>

                        </div>
                    </div>
                </div>
            </form>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4" *ngFor="let data of channelData; let i = index">
                    <div class="card card1 d-flex" style="align-items: unset;" >
                        <div class="channel-data-content">
                            <div class="icon-call channelIconHeader" [ngStyle]="{'background': common.color[data.value.Profilepic]}">
                                <span class="plugin-name">{{data.value.voiceServiceProvider}}</span>
                            </div>
                            <!-- <div style="font-weight: bold;font-size: 20px; text-align: center; padding: 20px 0px;">{{data.value.voiceServiceProvider}}</div> -->
                            <div class="pointer vertical-rotate">
                                <mat-icon [matMenuTriggerFor]="menu">more_horiz</mat-icon>
                                <mat-menu #menu="matMenu" class="master_action">
                                    <span class="m-3 mb-4 font-weight-bold">More Actions</span>
                                    <button mat-menu-item [routerLink]="['/masters/channel-configuration/voice-configuration/voice-detail',channel?.Id,'update',voicechannel[i].ChannelSrcID]">
                                        <mat-icon class="editIcon" >edit</mat-icon>
                                        <span>Edit</span>
                                    </button>
                                    <button mat-menu-item (click)="deleteChannel(data)" class="d-flex">
                                       <span class="delete"></span>
                                       <mat-icon class="red-color cursorPointer">delete_outline</mat-icon>
                                       <span  style="vertical-align: super;">Delete</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                        
                        <div class="channel-data-content">
                            <div>Channel Source</div>
                            <div>{{data.value.voiceChannelSource}}</div>
                        </div>
                        <div class="channel-data-content">
                            <div>Account Type</div>
                            <div>{{data.value.AccountType}}</div>
                        </div>
                        <div class="channel-data-content">
                            <div>Message</div>
                            <div>{{data.value.CallbackWebhookMessage}}</div>
                        </div>
       
                        <div class="channel-data-content">
                            <div>Notification</div>
                            <div>{{data.value.CallbackWebhookNotification}}</div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
</div>
