.avtar {
  height: 100px;
  width: 120px;
  box-sizing: border-box;
  border: 1px;
}
.outline {
  border: 1px solid var(--primary_color) !important;
  color: var(--primary_color);
  font-weight: bold;
}

.avatar {
  position: relative;
  flex: 1;
  text-align: center;
  height: 95px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--gray_color);
  .mat-icon,
  img {
    height: 100%;
    background-color: var(--gray_color_60);
    border: var(--border);
    width: 100%;
  }
  .uploadTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--gray_color);
    i {
      margin-bottom: 7px;
    }
    strong,
    span {
      line-height: 21px;
    }
    strong {
      font-size: 10px;
    }
    span {
      font-size: 14px;
    }
  }

  .mat-icon {
    line-height: 130px;
    font-size: 50px !important;
    color: var(--gray_color);
    cursor: pointer;
  }


  input[type="file"],
  .loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .loader {
    background-color: rgba($color: #212121, $alpha: 0.4);
    .spinner {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      &:before {
        content: "";
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid var(--white_color);
        border-top-color: var(--primary_color);
        animation: spinner 0.8s linear infinite;
      }
    }
  }

  input[type="file"] {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    opacity: 0;
  }

  &.shake {
    .mat-icon {
      border-color: var(--error);
    }
  }

  .toggleBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
  }

  &:hover {
    .editHover {
      opacity: 1;
      visibility: visible;
    }
  }
}

.items {
  padding: 10px 0px;
}
.hubmaster {
  color: #053c6d;
  font-weight: bold;
  font-style: normal;
  margin: 0px 0px 30px;
  font-size: 18px;
}
legend {
  color: var(--primary_color);
  font-weight: bold;
  font-size: var(--title) !important;
}
.wrapper {
  padding-right: 50px !important;
  padding-left: 0px !important;
}
.addAction {
  margin-left: 36px;
}
.actionable-main {
  margin-left: 22px !important;
}
.actionable-main::ng-deep .mat-select-arrow {
  margin-right: 28px !important;
}

.colorTileHubmodule {
  height: 72px;
  width: 72px;
  border: 1px var();
  border-radius: 10px;
}

.selectedIconOnAddDashboard {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBtn{
  border: 1px solid #053c6d !important;
}


@media screen and (max-width: 767px)
{
 .inner-container{
    padding: 0px 0px 5px 0px !important; 
  .wrapper {
    padding: 25px 15px !important;

    .avatar {
      width: 75px;
      height: 105px ;
    }
    .colorTileHubmodule{
      width: 50px;
      height: 50px;
    }
  }
}
}