header {
    position: relative;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    background-color: var(--white_color);
    box-shadow: var(--box_shadow);
    justify-content: space-between;
    z-index: 9;
    .logo {
        margin-right: 10px;
        img {
            display: block;
            height: 25px;
        }
    }
    
    app-breadcrumb{
        flex: 1;
    }
    .action {
        justify-self: flex-end;
        color: var(--black_color_70);
        &>div{
            display: flex;
            align-items: center;
        .avatar {
            margin-left: 10px;
            width: 30px;
            height: 30px;
            object-fit: cover;
            vertical-align: middle;
            border-radius: 50%;
            cursor: pointer;
        }
        .mat-icon-button{
            &:hover{
                color: var(--primary_color);
            }
        }
        }
    }
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    padding: 20px 60px;
    .profil-img{
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 13px;
    }
    h3{
        margin: 0;
        font-size: var(--normal-font);
        font-weight: normal;
        color: var(--black_color);
        line-height: 22px;
    }
    h5{
        margin: 0 0 20px 0;
        font-size: 14px;
        font-weight: normal;
        color: var(--gray_color);
        line-height: 17px;
    }
}

.end{
    height: 28px;
    line-height: 28px;   
    border-radius: 14px;
    margin-right: 14px;
}

.marleft-neg{
    margin-left: -0.6rem;
}

@media screen and (max-width: 480px) {
    header {
        padding: 5px;
        .logo{
            margin-right: 10px;
            img {
                display: block;
                height: 25px;
            }
        }
    }
}