<div class="inner-container">
        <div class="col-lg-12 p-3">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <span></span>
                <span>
                    <h6>Task Name</h6>
                </span>                
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">

            </div>
        </div>
        <div class="col-lg-12 mt-2 mb-2">
            <div class="row">           
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="task-group-details">
                        <div class="task-detail-head">
                            <h6 class="p-2">Task Group Details</h6>
                            <button class="m-3">More Details</button>
                        </div>
                        <div class="task-desc p-3">
                            <div class="">
                                <p class="label">Task Group Name</p>
                                <p>Diwali Offer</p>
                            </div>
                            <div class="">
                                <p class="label">Discription</p>
                                <p>Dummy Text</p>
                            </div>
                            <div class="">
                                <p class="label">User Groups</p>
                                <p>User Groups Name</p>
                            </div>
                            <div class="">
                                <p class="label">Route Type</p>
                                <p>Automatic</p>
                            </div>
                        </div>
                        <div class="task-desc p-3" style="justify-content:start;">
                            <div class="mr-5">
                                <p class="label">Task Group Name</p>
                                <p>Diwali Offer</p>
                            </div>
                            <div class="mr-5">
                                <p class="label">Discription</p>
                                <p>Dummy Text</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="task-group-status">
                        <div class="task-detail-head">
                            <h6 class="p-2">Task Group Status</h6>
                            <button class="m-3">More Details</button>
                        </div>
                        <div class="p-3">
                            <div class="task-status-desc">
                                <p class="label">Task Group Name</p>
                                <p>Diwali Offer</p>
                            </div>
                            <div class="task-status-desc">
                                <p class="label">Discription</p>
                                <p>Dummy Text</p>
                            </div>
                            <div class="task-status-desc">
                                <p class="label">User Groups</p>
                                <p>User Groups Name</p>
                            </div>
                            <div class="task-status-desc">
                                <p class="label">Route Type</p>
                                <p>Automatic</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
