
<app-loader *ngIf="loader"></app-loader>
<div class="inner-container">
  <div class="wrapper py-4 mt-3" >
    <div class="d-flex justify-content-end">
      <span class="icon-rejected" routerLinkActive="router-link-active"  *ngIf="userConfig?.Cancel" (click)="back()"></span>
    </div>
    <form [formGroup]="form">
        <div class="row ">
          <!-- <div class="col-1 text-center">
              <mat-icon class="gray cursorPointer" (click)="back()">keyboard_backspace</mat-icon>
          </div> -->
          <div class="col-12">
            <span class="d-flex backArrow">
              <mat-icon class="gray cursorPointer" (click)="back()">keyboard_backspace</mat-icon>
              <legend class="pageTitle"> {{ reset ? 'Update' :'Add New' }} WhatsApp Account</legend>
            </span>

            <div class="formGroup">
              <div class="masters_block">
                <app-steps [steps]="channelConfigurationSteps" [moduletype]="'channelConfiguration'" [id]="path"
                  [uniqueid]="uniqueId" [action]="eventkey"></app-steps>
                <div class="top_block"></div>


              <div class="row marginXDesktop">
                <div class="col-lg-2 col-md-2 col-3 text-center pl-0">
                  <div class="channelIcon cursorPointer" [matMenuTriggerFor]="menu" [ngStyle]="{'background-color': form.value.iconColor ? common.color[form.value.iconColor] : 'var(--gray_color)' }">
                    <i class="chooseIcon icon-whatsapp"
                      [ngStyle]="{'background-color': form.value.iconColor ? common.color[form.value.iconColor] : 'var(--gray_color)' }"></i>
                  </div>
                  <mat-menu #menu="matMenu" class="w-100  overflow-hidden">
                    <div class="row m-2" (click)="$event.stopPropagation()">
                      <div class="col-12">
                        <span class="selectColor pl-0">{{labelName?.SelectIcon}}</span>
                      </div>
                      <div class="col-3 py-2 px-1" *ngFor="let item of common.colorArray">
                        <div class="row justify-content-center">
                          <div
                            class="cursorPointer colorTile d-flex align-items-center justify-content-center fontSize34PX"
                            [ngStyle]="{'background': common.color[item], 'height': '30px', 'width': '30px'}"
                            [ngClass]="item == form.value.iconColor ? 'selectedIconOnAddDashboardMatMenu':''"
                            (click)="form.controls.iconColor.patchValue(item); menu.close.emit()">
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-menu>
                </div>
                <div class="col-lg-9 col-md-9 col-9">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <mat-form-field appearance="fill">
                        <mat-label>{{labelName?.WhatsaAppProvider}}</mat-label>
                        <mat-select (selectionChange)="Changelogo($event.value)" formControlName="WhatsApp_Provider">
                          <mat-option value="infobip">Infobip</mat-option>
                          <mat-option value="netcore">Netcore</mat-option>
                          <mat-option value="routemobile">Route Mobile</mat-option>
                          <mat-option value="gupshup">Gupshup</mat-option>
                          <mat-option value="kaleyra">Kaleyra</mat-option>
                          <mat-option value="Karix">Karix</mat-option>
                          <mat-option value="yalochat">YaloChat</mat-option>
                        </mat-select>
                        <mat-error *ngIf="w.WhatsApp_Provider.errors">
                          <ng-container *ngIf="w.WhatsApp_Provider.errors.required">WhatsaApp Vendor is
                            required.
                          </ng-container>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <mat-form-field appearance="fill">
                        <mat-label>{{labelName?.ChannelSource}}</mat-label>
                        <input matInput formControlName="Channel_Source_Name" />

                        <!-- <mat-select formControlName="channelsourcename">
                          <mat-option *ngFor="let data of channelvalue" [value]="data.ChannelSourceId ">
                            {{data.ChannelSourceName}} </mat-option>
                        </mat-select>

                        <mat-error *ngIf="w.channelsourcename.errors">
                          <ng-container *ngIf="w.channelsourcename.errors.required">Channel Source
                            Name is
                            required.
                          </ng-container>
                          <ng-container *ngIf="w.channelsourcename.errors.pattern">Channel Source Name
                            is
                            invalid.
                          </ng-container>
                        </mat-error> -->
                        <mat-error *ngIf="w.Channel_Source_Name.errors">
                          <ng-container *ngIf="w.Channel_Source_Name.errors.required">Channel Source Name is required. </ng-container>
                            <ng-container *ngIf="w.Channel_Source_Name?.errors?.checknull">Whitespace not allowed.</ng-container>
                            <ng-container *ngIf="w.Channel_Source_Name?.errors?.pattern">Channel Source Name is Invalid</ng-container>
                          </mat-error>
                      </mat-form-field>

                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 contactNoWithCountryCode">
                      <mat-select class="countrycodeDropdown" formControlName="countrycode"(selectionChange)="selectCountry($event.value)">
                        <mat-select-trigger>
                              <i class="flag-icon flag-icon-{{countryCodeSelected?.country_code | lowercase}} textwrap"></i> +{{countryCodeSelected?.dial_code}}
                          </mat-select-trigger>
                          <ng-container *ngFor="let data of countryCode | orderBy: 'dial_code'">
                            <mat-option *ngIf="allowedISD.includes((data?.dial_code).toString())"  [value]="data">
                              <i class="flag-icon flag-icon-{{data?.country_code | lowercase}} textcase "></i> +{{data?.dial_code}}
                          </mat-option>
                          </ng-container>
                      </mat-select>
                          <mat-form-field appearance="fill">
                              <mat-label>{{labelName?.WhatsAppContactNumber}}</mat-label>
                              <input  matInput formControlName="contactnumber" (keypress)="numericOnly($event)"
                              (keyup)="valPhone(countryCodeSelected)" [(ngModel)]="phone">
                              <span matPrefix class="countryFlag"></span>



                              <mat-error *ngIf="w.contactnumber.errors">
                                <ng-container *ngIf="w.contactnumber.errors.required">Contact No. is
                                    Required
                                </ng-container>
                                <ng-container *ngIf="w.contactnumber.errors.minlength">
                                  Mininmum length is {{phminlength}}
                                </ng-container>
                                <ng-container *ngIf="w.contactnumber.errors.maxlength">
                                   Maximum length is {{phmaxlength}}
                               </ng-container>
                            </mat-error>
                            <mat-hint class="mat-error" *ngIf="phvalid == false">Contact No. is Invalid</mat-hint>
                          </mat-form-field>
                  </div>


                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <mat-form-field appearance="fill">
                        <mat-label>{{labelName?.VersionNumber}}</mat-label>
                        <input matInput formControlName="Version_Number" />
                        <mat-error *ngIf="w.Version_Number.errors">
                          <ng-container *ngIf="w.Version_Number.errors.required">{{labelName?.VersionNumber}} is
                              Required
                          </ng-container>
                          <ng-container *ngIf="w.Version_Number?.errors?.checknull">Whitespace not allowed.</ng-container>
                      </mat-error>
                        </mat-form-field>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="btn-group my-3" >
                <!-- <button  class="btn btn-gray" *ngIf="(userConfig?.Cancel)"  (click)="back()"  routerLinkActive="router-link-active"  mat-flat-button type="Reset">{{ labelName?.Cancel}}</button> -->
                <button  *ngIf="!reset && userConfig?.Reset" class="btn btn-gray" (click)="Reset()"mat-flat-button type="Reset">{{labelName?.Reset}}</button>
                  <button *ngIf="(userConfig?.Save)" (click)="savewhatsapp('save')"  class="btn" mat-flat-button color="primary"  type="button">{{ labelName?.Save }}</button>
                  <button  *ngIf=" (userConfig?.Next) " (click)="savewhatsapp('next')" class="btn" mat-flat-button color="primary"  type="button">{{labelName?.Next }}</button>
              </div>
            </div>
            </div>
        </div>
    </form>
  </div>
</div>
