<app-loader *ngIf="loader"></app-loader>
<div class="inner-container">
    <div class="wrapper py-4 mt-3">
        <div class="d-flex justify-content-end">
            <span class="icon-rejected" *ngIf="(userConfig?.Cancel)" (click)="back()"></span>
          </div>
        <form [formGroup]="form">
            <div class="row ">
                <div class="col-12">
                    <span class="d-flex backArrow">
                        <mat-icon class="gray cursorPointer" (click)="backspace()">keyboard_backspace</mat-icon>
                        <legend class="pageTitle"> {{ reset ? 'Update' :'Add New' }} {{labelName?.ViberAccount}}</legend>
                    </span>

                    <div class="formGroup">
                        <div class="masters_block">
                            <app-steps [steps]="viberConfigurationsteps" [moduletype]="'voice-configuration'"
                                [id]="path" [uniqueid]="uniqueId" [action]="eventkey"></app-steps>
                            <div class="row marginXDesktop">
                                <div class="col-10">
                                    <div class="form_content">
                                        <div class="row"
                                            style="display: flex; flex-direction: column; justify-content: center; align-items: center;margin-left: 20px;">
                                            <div class="col-lg-10 col-md-4 col-sm-12">
                                                <mat-form-field appearance="fill" [ngClass]="{ 'shake': submittedForm && f.AccessToken.errors }">
                                                    <mat-label>{{labelName?.AccessToken}}</mat-label>
                                                    <input matInput formControlName="AccessToken">
                                                    <mat-error *ngIf="f.AccessToken.errors">
                                                        <ng-container
                                                            *ngIf="f.AccessToken.errors.required">{{labelName?.AccessToken}}
                                                            is required
                                                        </ng-container>
                                                        <ng-container *ngIf="f.AccessToken?.errors?.checknull">Whitespace
                                                            not allowed
                                                        </ng-container>
                                                        <ng-container *ngIf="f.AccessToken?.errors.checknull1">
                                                            Must be at least 3 characters long
                                                        </ng-container>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="btn-group my-3">
                            <!-- <button class="btn btn-gray" *ngIf="(userConfig?.Cancel)"  routerLinkActive="router-link-active"
                                (click)="back()" mat-flat-button type="Reset">{{labelName?.Cancel}}</button> -->
                            <button *ngIf="! reset" class="btn btn-gray" mat-flat-button type="Reset">{{labelName?.Reset}}</button>
                            <button *ngIf="(userConfig?.Save)" class="btn" (click)="SaveViber('save')" mat-flat-button
                                color="primary" type="button">{{labelName?.Save}}</button>
                            <button  *ngIf=" (userConfig?.Next) " class="btn" (click)="SaveViber('next')" mat-flat-button
                                color="primary" type="button">{{labelName?.Next}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
