<div>
  <div class="row m-0  d-flex align-items-center">
    <div class="col-8 p-0 text-left">
      <span class="font-bold mediumFont">Parking</span>
    </div>
    <div class="col-4 p-0 text-right">
      <select class="form-control rounded smallSelect smallFont" id="exampleFormControlSelect1" [(ngModel)]="selectedGrievance"
      (change)="selectedOptionValue();nextDisable = true"
        >
        <option>Day</option>
        <option>Month</option>
        <option>Year</option>
      </select>
    </div>
  </div>

  <div class="row mx-0 d-flex justify-content-center align-items-center">
    <div class="paddingX10Y20">


    <div class="col-12 displayCenter">
      <div class="circle circle1">
        <div class="">
        <span class="span1">Completed</span>
        <br>
        <span class="span2" >{{!data?.ParkedResponded ? 0 : data?.ParkedResponded > 1000 ? data?.ParkedResponded/1000 + 'k' : data?.ParkedResponded }}</span>
      </div>
      </div>
      <div class="circle circle2">
        <div class="">
          <span class="span1">Scheduled</span>
          <span class="span2" >{{!data?.ParkedPending ? 0 : data?.ParkedPending > 1000 ? data?.ParkedPending/1000 + 'k' : data?.ParkedPending }}</span>
        </div>
      </div>
      <div class="circle circle3">
        <div class="">
          <span class="span1">Overdue</span>
          <span class="span2" >{{!data?.PendingQueueClosed ? 0: data?.PendingQueueClosed > 1000 ? data?.PendingQueueClosed/1000 + 'k' : data?.PendingQueueClosed }}</span>        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="row m-0">
    <div class="col-2 p-0">
      <mat-icon class="cursorPointer" (click)="changeDate('prev')">keyboard_arrow_left</mat-icon>
    </div>
    <div class="col-8 text-center dashboardDate smallFont">
      <span class="" *ngIf="selectedGrievance == 'Day'">{{ hawkerAppDate | dateFormat}}</span>
      <span class="" *ngIf="selectedGrievance == 'Month'">{{ hawkerAppDate | date : 'MMM yyyy'}}</span>
      <span class="" *ngIf="selectedGrievance == 'Year'">{{ hawkerAppDate | date:'yyyy'}}</span>
    </div>
    <div class="col-2 p-0 text-right">
      <span [ngClass]="nextDisable ? 'disabledIT' :'cursorPointer'">
        <mat-icon (click)="changeDate('next')">keyboard_arrow_right</mat-icon>
      </span>
    </div>
  </div>
</div>
