.card-layout {

  .cards {
      margin-bottom: 20px;
      background-color: #ffffff;
      box-shadow: 0px 0px 6px #0000001A;
      padding: 24px 20px;
      border: 1px solid #EAEAEA;
      border-radius: 15px;
      min-height: 157px;
      width: 205px;
      height: 157px;
      align-items: center;


      .more-optn {
          float: right;
          position: absolute;
          top: 14px;
          right: 88px;

          button {
              background-color: transparent;
              border: none;

              i::before {
                  color: var(--theme_input_color);
                  opacity: 0.7;
              }

              &:focus {
                  outline: none;
              }
          }
      }

      .card-data {

          .title {
              color: #212121;

              text-align: left;
              font-style: normal normal bold;
              width: 108px;
              height: 22px;
              letter-spacing: 0px;

          }

          .sub-data {
              color: #707070;
              opacity: 1;
              font: normal normal normal 12px/16px Nunito Sans;
              letter-spacing: 0px;

          }

          .date-time {
              color: var(--theme_input_color);
              opacity: 0.7;
              font-size: 14px;
              padding: 6px 0px 0px 0px;

              span {
                  padding-right: 6px;
              }
          }

          .status {
              color: var(--status_red);
              font-size: 14px;
              font-weight: 600;
              padding: 20px 0px 0px 0px;
          }
      }
  }

}

.logoposition{
  align-items: center;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  margin-bottom: 50px;
  background-color: #ffffff;
  box-shadow: 0px 0px 2px #0000001A;
  padding: 24px 20px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 15px;
  min-height: 157px;
  width: 100%;
  align-items: center;
  .channelHead{
      font-size: var(--normal-font);
      margin-top: 20px;
      margin-bottom: 0;
      padding: 0;
  }
  .channelLicense{
      font-size: var(--small-font);
      margin: 10px 0;
      margin-top: 0;
      padding: 0;
      color: var(--gray);
  }
}


.mainChannelHeader{

width: 100%;
display: flex;
align-items: center;
justify-content: center;
.channelHead{
    font-size: var(--normal-font);
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
}
.channelLicense{
    font-size: var(--small-font);
    margin: 10px 0;
    margin-top: 0;
    padding: 0;
}
}
.wtscard {
  top: 60px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 2px #0000001A;
  padding: 24px 20px;
  border: 1px solid #EAEAEA;
  border-radius: 15px;
  min-height: 157px;
  width: 312px;
  height: 250px;
  align-items: center;
}
.card-data {

   cursor: pointer;
  .title {
      color: #212121;

      text-align: left;
      font-style: normal normal bold;
      width: 108px;
      height: 22px;
      letter-spacing: 0px;

  }

  .sub-data {
      color: #707070;
      opacity: 1;
      font: normal normal normal 12px/16px Nunito Sans;
      letter-spacing: 0px;

  }

  .date-time {
      color: var(--theme_input_color);
      opacity: 0.7;
      font-size: 14px;
      padding: 6px 0px 0px 0px;

      span {
          padding-right: 6px;
      }
  }

  .status {
      color: var(--status_red);
      font-size: 14px;
      font-weight: 600;
      padding: 20px 0px 0px 0px;
  }
}

.btnposition{
  border: 0;
  outline: 0;
  background: var(--white-color);
}

.small-font {
  font-size: var(--medium-font)!important;
  color: var(--gray_color_70);
  vertical-align: middle!important;
  margin-top: 7px;
}


.optional-icon {
  margin: 0 auto;
  margin-top: -60px;
  margin-bottom: 40px;
}
.channel-data-content {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--gray_color_80);
  font-size: var(--medium-font);
  align-items: center;
}



.addButton{
padding: 0;
  height: 24px;
  font-size: var(--content) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px !important;
  border: 1px solid var(--primary_color);
  border-radius: 5px;
  font-weight: bold;
}

.addButton0{
  padding: 5px 10px;
  font-size: var(--content);
  color: var(--primary_color);
  display: flex;
    align-items: center;
    justify-content: center;
  border: 1px solid var(--primary_color);
    border-radius: 5px;
    font-weight: bold;
}


.iconHeaderOnCard{
color: white;
  position: absolute;
  top: -18%;
  left: 40%;
  font-size: 30px;
  border: 1px solid var(--gray_color);
  border-radius: 50%;
  padding: 13px;

  &::before{
      font-size: 25px !important;
  }
}

.positionAbsolute{
position: absolute;
}

.hsmcount{
  margin-right: 10px;
  font-weight: 600;
}

.editIcon{
color: var(--gray_color_70)
}


@media screen and (max-width: 767px){
  .inner-container{
      padding: 0px 0px 5px 0px !important;

    .wrapper{
      padding: 0vh 5vh 0vh !important;
    }
  }
}
