<div class="inner-container">
  <div class="wrapper">
    <form [formGroup]="form">
      <div class="col-10">
        <legend>Report Master</legend>
      </div>
      <div class="form">

        <!-- <div class="row" > -->
        <div class="col-lg-3 col-md-3 col-sm-12">
          <mat-form-field appearance="fill">
            <mat-label>Module Name</mat-label>
            <mat-select formControlName="modulename" (selectionChange)="getFilter($event.value)">
              <mat-option *ngFor="let data of modules" [value]="data.ModuleName">{{data.ModuleName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <table>
            <thead>
              <tr>
                <th>Column Type</th>
                <th>Control Type</th>
                <th></th>
                <th>Mapped to</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let element of ResultData;let i= index ">
                <td>{{element.FieldReq.label}}</td>
                <td>
                  <div *ngIf="element.FieldReq.controlType == 'textbox'">  Textbox  </div>
                  <div *ngIf="element.FieldReq.controlType == 'Toggle'">  Toggle</div>
                  <div *ngIf="element.FieldReq.controlType == 'dropdown'"> Dropdown </div>
                  <div *ngIf="element.FieldReq.controlType == 'Number'"> Number </div>
                  <div *ngIf="element.FieldReq.controlType == 'datepicker'"> DatePicker </div>
                  <div *ngIf="element.FieldReq.controlType == 'timepicker'">TimeControl </div>
                  <div *ngIf="element.FieldReq.controlType == 'MultiSelect'"> MultiSelect </div>
                </td>
                <td><mat-form-field appearance="fill">
                    <mat-label>Control Type</mat-label>
                    <mat-select [(ngModel)]="element.FieldReq.controlType" (selectionChange)="saveControlType(i,$event.value)"
                      [disabled]="(element.FieldReq.columnType == 'Date' )"
                      [ngModelOptions]="{standalone: true}">
                      <mat-option value="textbox">Textbox</mat-option>
                      <mat-option value="Toggle">Toggle</mat-option>
                      <mat-option value="dropdown">Dropdown</mat-option>
                      <mat-option value="Number">Number</mat-option>
                      <mat-option value="datepicker">DatePicker</mat-option>
                      <mat-option value="timepicker">TimeControl</mat-option>
                      <mat-option value="MultiSelect">MultiSelect</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td>
                <mat-form-field appearance="fill"  *ngIf="(element.FieldReq.controlType == 'MultiSelect' || element.FieldReq.controlType == 'dropdown' )">
                  <mat-label>Api Of</mat-label>
                  <mat-select  [(ngModel)]="element.FieldReq.columnType" (selectionChange)="saveType(i,$event.value)"  [disabled]=""  [ngModelOptions]="{standalone: true}">
                    <mat-option value="Channel">Channel</mat-option>
                    <mat-option value="ChannelSource">Channel Source</mat-option>
                    <mat-option value="TemplateName">Template Name</mat-option>
                    <mat-option value="AgentName">Agent Name</mat-option>
                    <mat-option value="SkillName">Skill Name</mat-option>
                    <mat-option value="UserName">User Name</mat-option>
                    <mat-option value="UserId">User ID</mat-option>
                    <mat-option value="LoginId">Login Id</mat-option>
                    <mat-option value="PRODUCT">Product</mat-option>
                    <mat-option value="Disposition">Disposition</mat-option>
                    <mat-option value="SubDisposition">Sub Disposition</mat-option>
                    <mat-option value="SubSubDisposition">Sub Sub Disposition</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="btn-group" style="padding-top: 20px;">
          <button class="btn" mat-flat-button color="primary" type="button" (click)="saveUpdate()">Update</button>

        </div>
      </div>
    </form>
  </div>
</div>
