.mat-flat-button.mat-primary{
    float: right;
    height: 34px;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}

.icon{
    color: rgb(22, 167, 22);
}
.wrapper {
    max-height: 80vh!important;
    padding-bottom: 10px!important;
}
.wrapper-inner {
    height: 56vh;
    overflow: auto;
}